version: '3.8'

services:
  signaling-server:
    build: .
    container_name: gamework-signalling-server
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
      - PORT=8080
    restart: unless-stopped
    networks:
      - app_network

networks:
  app_network:
    external: true




